<!DOCTYPE html>
<html>
 <head>
     <!--Necessary meta for Bootstrap - Don't Touch-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!--End Bootstrap Necessities, only add below this line-->
    <title>Workout Helper</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/index-css.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
 </head>
 <body>
     <!--Necessary scripts for Bootstrap - Don't Touch-->
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
     <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" type="text/javascript"></script>
     <script src="js/bootstrap.min.js"></script>
     
<div class="container"> 
    <!--
  <div class="jumbotron" style="background-color:rgba(0,0,0,0)">
    <h1 style="color: whitesmoke">Workout Helper</h1> 
    <p style="color: whitesmoke">Get to it 💪</p> 
  </div>
    -->
     <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="background-color: rgba(0,0,0,0.3)">
            <ul class="sidebar-nav">
                <h1 style="color: whitesmoke; position:absolute; left: 22.5%" class="sidebar-brand">Workout Helper</h1>
            </ul>
               <form action="/result" method="post">
       <div class="checkbox" style="position: absolute; left: 30%;color:whitesmoke;top:20%">
           <input type="checkbox" name="m1" value="chest" id="checkbox1" class="checkbox"><label for="checkbox1"> Chest</label><br>
           <input type="checkbox" name="m2" value="triceps" id="checkbox2"><label for="checkbox2"> Triceps</label><br>
           <input type="checkbox" name="m3" value="biceps" id="checkbox3"><label for="checkbox3"> Biceps</label><br>
           <input type="checkbox" name="m4" value="legs" id="checkbox4"><label for="checkbox4"> Legs</label><br>
           <input type="checkbox" name="m5" value="shoulders" id="checkbox5"><label for="checkbox5"> Shoulders</label><br>
           <input type="checkbox" name="m6" value="back" id="checkbox6"><label for="checkbox6"> Back</label><br>
           <input type="checkbox" name="m7" value="cardio" id="checkbox7"><label for="checkbox7"> Cardio</label><br>
           <input type="checkbox" name="m8" value="abs" id="checkbox8"><label for="checkbox8"> Abs</label><br>
           <input style="top:125%;position:absolute;right:20%" type="submit" value="Submit" class="btn btn-success">
       </div>
   </form>
            <p class="text-muted" style="position:absolute; left:20%; bottom:0">© 2015 Workout Helper</p>
        </div>
        <!-- /#sidebar-wrapper -->
    
 <div class="col-lg-12">
 </div>
</div>
     

<!--
    <footer class="footer">
      <div class="container">
        <p class="text-muted">© 2015 Workout Helper - Aurora, Clive & Joe</p>
      </div>
    </footer>
-->
 </body>
</html>
