<!DOCTYPE html>
<html>
 <head>
     <!--Necessary meta for Bootstrap - Don't Touch-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!--End Bootstrap Necessities, only add below this line-->
    <title>Workout Helper</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="css/index-css.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
 </head>
 <body>

     
<div class="container"> 
 
    <div id="twrap">
     </a><div id="titlewrapper" style="background-color:rgba(0,0,0,0.3)">
        <a href="/"><h1 id="main-title" class="sidebar-brand">Workout Helper</h1></a>
        </div>
    </div>
     <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="background-color: rgba(0,0,0,0.3)">
            <form action="/" method="post" id="musicform">
                
                <div style="position:absolute;left:37%;color:whitesmoke;top:6%">
                    <select id="menulist" name="music" form="musicform" class="btn btn-success">
                        <option value="rock">Rock</option>
                        <option value="rap">Rap</option>
                        <option value="metal">Metal</option>
                        <option value="soul">Soul</option>
                        <option value="pop">Pop</option>
                        <option value="country">Country</option>
                    </select>    
                </div>
                
                <div class="checkbox checkbox-primary" style="position:absolute;left:37%;color:whitesmoke;top:20%">
                    <input type="checkbox" name="m1" value="chest" id="checkbox1" class="checkbox"><label for="checkbox1"> Chest</label><br>
                    <input type="checkbox" name="m2" value="triceps" id="checkbox2" form="musicform"><label for="checkbox2"> Triceps</label><br>
                    <input type="checkbox" name="m3" value="biceps" id="checkbox3" form="musicform"><label for="checkbox3"> Biceps</label><br>
                    <input type="checkbox" name="m4" value="legs" id="checkbox4" form="musicform"><label for="checkbox4"> Legs</label><br>
                    <input type="checkbox" name="m5" value="shoulders" id="checkbox5" form="musicform"><label for="checkbox5"> Shoulders</label><br>
                    <input type="checkbox" name="m6" value="back" id="checkbox6" form="musicform"><label for="checkbox6"> Back</label><br>
                    <input type="checkbox" name="m7" value="cardio" id="checkbox7" form="musicform"><label for="checkbox7"> Cardio</label><br>
                    <input type="checkbox" name="m8" value="abs" id="checkbox8" form="musicform"><label for="checkbox8"> Abs</label><br>
                    <input style="top:125%;position:absolute;right:20%" type="submit" value="Submit" class="btn btn-success">
                </div>
            </form>
            
            <p class="text-muted" style="position:absolute; left:20%; bottom:0">© 2015 Workout Helper</p>
        </div>
    </div>
</div>
    <div class="container" >
        <%=@resultString%>
     </div>

     <div style="position:fixed;top:0;right:0;height:100%;background-color:rgba(0,0,0,0.3);width:384px">
         <iframe src="<%=@playlist%>" frameborder="0" allowtransparency="true" style="top:0;right:0;position:fixed;height:100%;width:384px"></iframe>
         <blockquote><h1 style="bottom:10%;position:fixed;color:whitesmoke;text-align:left;">"<%=@quote%>"</h1>
         <footer style="color:whitesmoke;bottom:7.5%;position:fixed;text-align:right;right:3%">
             <%=@author%>
             </footer>
         </blockquote>
     </div>

 </body>
</html>
